body {
    --color-texto: #000;
    --color-texto-suave: #666;
    --color-placeholder: #666;
    --color-cabecera: #FFF;
    --color-miembros: #FFF;
    --color-chat-principal: #FFF;
    --color-chat-secundario: #EEE;
    --color-area-campo: #F0F0F0;
    --color-campo: #FFF;
    --color-campo-borde: #AAA;
    --color-icono-hover: #0002;
    --color-icono-active: #0004;
    --color-sombra: #0004;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body.oscuro {
    --color-texto: #FFF;
    --color-texto-suave: #AAA;
    --color-placeholder: #999;
    --color-cabecera: #222;
    --color-miembros: #333;
    --color-chat-principal: #222;
    --color-chat-secundario: #333;
    --color-area-campo: #222;
    --color-campo: #333;
    --color-campo-borde: #555;
    --color-icono-hover: #FFF2;
    --color-icono-active: #FFF4;
    --color-sombra: #000A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    padding: 16px;
    background-color: var(--color-cabecera);
    box-shadow: 0px 1px 3px 0px var(--color-sombra);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header > #titulo {
    margin: 0;
    font-weight: bold;
    flex: 1;
}

#abrir-miembros, #modo-oscuro {
    padding: 6px;
    margin-left: 8px;
    width: 18px;
    height: 18px;
}

#miembros {
    position: fixed;
    top: 0;
    right: max(-320px, -70%);
    width: min(320px, 70%);
    height: 100%;
    padding: 20px 16px;
    box-sizing: border-box;
    background-color: var(--color-miembros);
    box-shadow: -1px 0px 3px 1px var(--color-sombra);
    transition: right 0.3s ease-in-out;
    z-index: 2;
}

#miembros.abierto {
    right: 0;
}

#titulo-miembros {
    margin: 0;
    font-weight: bold;
}

#cerrar-miembros {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px;
    width: 16px;
    height: 16px;
}

#chat {
    background-color: var(--color-chat-principal);
    flex: 1;
    margin: 72px 0 42px;
    overflow-y: auto;
}

.mensaje {
    padding: 12px 16px;
}

.mensaje > .cabecera {
    display: flex;
    align-items: baseline;
    margin: 0 0 6px;
    white-space: nowrap;
}

.mensaje > .cabecera > .autor {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mensaje > .texto {
    margin: 0;
    overflow: hidden;
    word-wrap: break-word;
}

.mensaje .fecha {
    font-size: 0.9em;
    color: var(--color-texto-suave);
}

.mensaje > .texto:first-child {
    font-style: italic;
    text-overflow: ellipsis;
}

.mensaje:not(:hover) > .texto:first-child > .fecha {
    display: none;
}

.mensaje:nth-child(even) {
    background-color: var(--color-chat-secundario);
}

#area-campo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-area-campo);
    padding: 6px;
    display: flex;
}

#area-campo > input {
    flex: 1;
    height: 16px;
    padding: 6px 8px;
    border-radius: 30px;
    color: var(--color-texto);
    background-color: var(--color-campo);
    border: 1px solid var(--color-campo-borde);
}

#area-campo > input::placeholder {
    color: var(--color-placeholder);
}

#enviar {
    width: 18px;
    height: 18px;
    margin: 0 4px 0 8px;
    padding: 6px;
    cursor: pointer;
}

.boton-icono {
    user-select: none;
    border-radius: 6px;
    transition: background-color 0.1s;
}

@media screen and (pointer: fine) {
    .boton-icono:hover {
        background-color: var(--color-icono-hover);
    }
}

.boton-icono:active {
    background-color: var(--color-icono-active);
}

.boton-icono > img {
    width: 100%;
    height: 100%;
}